/* "Myriad Regular" */
@font-face{
	font-family:"Myriad Pro Regular";
	src: url("./fonts/MYRIADPRO-REGULAR.woff") format("woff");
}
/* "Myriad SemiBold" */
@font-face{
	font-family:"Myriad Pro SemiBold";
	src: url("./fonts/MYRIADPRO-SEMIBOLD.woff") format("woff");
}
/* "Myriad Bold" */
@font-face{
	font-family:"Myriad Pro Bold";
	src: url("./fonts/MYRIADPRO-BOLD.woff") format("woff");
}