@import url("https://fonts.googleapis.com/css?family=PT+Sans");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", Helvetica, sans-serif;
  color: #4d4d4d; }

.wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px; }

h1, h2, thead {
  color: #0d009d; }

header {
  text-align: center; }
  header .topBar {
    margin: 0;
    padding: 20px;
    background-color: #FFFFFF; }
    header .topBar div.wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
    header .topBar div.logo {
      margin: 0 80px 0 0; }
      header .topBar div.logo img {
        object-fit: contain;
        max-height: 80px; }
    header .topBar h1 {
      padding: 10px;
      margin: 0; }
  header nav {
    background-color: #FFFFFF;
    color: #0d009d;
    border-bottom: 1px solid #DDDDDD; }
    header nav a {
      color: #0d009d;
      text-decoration: none;
      display: inline-block;
      padding: 10px 20px;
      margin: 0 0 -1px 0;
      border-bottom: 3px solid transparent; }
      header nav a:hover {
        color: #f96600;
        border-bottom-color: #f96600; }

.page div.wrapper {
  padding: 20px;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8; }
.page div.filterOptions {
  width: 100%;
  display: block;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #e8e8e8; }
  .page div.filterOptions h2 {
    margin: 0;
    padding: 10px 0; }
  .page div.filterOptions label {
    display: block; }
.page form.fileUpload {
  display: block;
  text-align: center; }
  .page form.fileUpload input[type=file] {
    display: none; }
  .page form.fileUpload label {
    font-size: 120%;
    color: #0d009d; }
    .page form.fileUpload label:hover {
      color: #f96600;
      cursor: pointer; }
  .page form.fileUpload input[type=submit] {
    background-color: #f96600;
    font-size: 100%;
    border-radius: 6px/20px;
    border: none;
    padding: 8px 16px;
    min-width: 120px;
    text-align: center;
    display: block;
    color: #FFFFFF;
    margin: 10px auto; }
    .page form.fileUpload input[type=submit]:hover {
      background-color: #80BA27;
      color: #FFFFFF;
      cursor: pointer; }
.page table {
  width: 100%; }
  .page table thead {
    font-weight: bold; }
    .page table thead tr td {
      border-bottom: 1px solid #DDD; }
