@import "./fonts";

$orange: rgb(249, 102, 0);
$blue: rgb(13, 0, 157);
$green: #80BA27;
$white: #FFFFFF;
$borderColor: desaturate(lighten($blue, 60), 100);

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	padding: 0;
	margin: 0;
	font-family: "PT Sans", Helvetica, sans-serif;
	color: darken($white, 70);
}

.wrapper{
	max-width: 700px;
	margin: 0 auto;
	padding: 0 20px;
}

h1, h2, thead{
	color: $blue;
}

header{
	text-align: center;

	.topBar{
		margin: 0;
		padding: 20px;
		background-color: $white;

		div.wrapper{
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

		div.logo{
			img{
				object-fit: contain;
				max-height: 80px;
			}

			margin: 0 80px 0 0;
		}

		h1{
			padding: 10px;
			margin: 0;
		}
	}

	nav{
		background-color: $white;
		color: $blue;
		border-bottom: 1px solid #DDDDDD;

		a{
			color: $blue;
			text-decoration: none;
			display: inline-block;
			padding: 10px 20px;
			margin: 0 0 -1px 0;
			border-bottom: 3px solid transparent;

			&:hover{
				color: $orange;
				border-bottom-color: $orange;
			}
		}
	}
}

.page{
	div.wrapper{
		padding: 20px;
		border-left: 1px solid $borderColor;
		border-right: 1px solid $borderColor;
	}

	div.filterOptions{
		width: 100%;
		display: block;
		margin: 0 0 20px 0;
		padding: 0 0 20px 0;
		border-bottom: 1px solid $borderColor;

		h2{
			margin: 0;
			padding: 10px 0;
		}

		label{
			display: block;
		}
	}

	form.fileUpload{
		display: block;
		text-align: center;

		input[type=file]{
			display: none;
		}
		label{
			font-size: 120%;
			color: $blue;

			&:hover{
				color: $orange;
				cursor: pointer;
			}
		}

		input[type=submit]{
			background-color: $orange;
			font-size: 100%;
			border-radius: 6px/20px;
			border: none;
			padding: 8px 16px;
			min-width: 120px;
			text-align: center;
			display: block;
			color: $white;
			margin: 10px auto;

			&:hover{
				background-color: $green;
				color: $white;
				cursor: pointer;
			}
		}
	}

	table{
		width: 100%;

		thead{
			font-weight: bold;

			tr td{
				border-bottom: 1px solid #DDD;
			}
		}
	}
}